@media only screen and (max-width: 768px) {
  .answer-caption {
    display: flex;
    width: 100%;
    border-color: #666363;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px #383636;
    justify-content: center;
  }

  .answer-caption:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 769px) {
  .answer-caption {
    display: flex;
    border-color: #666363;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px #383636;
    justify-content: center;
    width: auto;
  }

  .centered-answer-option-text {
    padding: 2%;
    margin-bottom: 0px;
  }

  .answer-caption:hover {
    cursor: pointer;
  }
}
