.app-header {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  justify-content: space-evenly;
}

.header-home,
.header-questions {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-name {
  margin-left: 0%;
  font-size: x-large;
  font-weight: bold;
}

.header-home {
  align-self: center;
}

.header-questions {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .app-name {
    font-size: larger;
    font-weight: bold;
  }
}
