@media only screen and (min-width: 769px) {
  body .interaction-pane {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 2px #666363;
  }

  .answer-pane {
    display: grid;
    row-gap: 20%;
    column-gap: 5%;
    flex-direction: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .feedback-pane {
    flex-direction: row;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .feedback-pane {
    flex-direction: row;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
  }
}
